body {
  background: #eee;
}

main {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width : 800px;
}

.right {
  float: right;
}

.private {
  color: #080;
}

.me {
  color: #800;
}

/* Reset transitions */
nav .show:checked ~ .menu > :nth-child(1) { transition: none; }
nav .show:checked ~ .menu > :nth-child(2) { transition: none; }
nav .show:checked ~ .menu > :nth-child(3) { transition: none; }
nav .show:checked ~ .menu > :nth-child(4) { transition: none; }
nav .show:checked ~ .menu > :nth-child(5) { transition: none; }
nav .show:checked ~ .menu > :nth-child(6) { transition: none; }

nav .show:checked ~ .menu > :nth-child(1) {
  transition: transform .3s cubic-bezier(0.645, 0.045, 0.355, 1) .0s;
}
nav .show:checked ~ .menu > :nth-child(2) {
  transition: transform .3s cubic-bezier(0.645, 0.045, 0.355, 1) .1s;
}
nav .show:checked ~ .menu > :nth-child(3) {
  transition: transform .3s cubic-bezier(0.645, 0.045, 0.355, 1) .2s;
}
nav .show:checked ~ .menu > :nth-child(4) {
  transition: transform .3s cubic-bezier(0.645, 0.045, 0.355, 1) .3s;
}
nav .show:checked ~ .menu > :nth-child(5) {
  transition: transform .3s cubic-bezier(0.645, 0.045, 0.355, 1) .4s;
}
nav .show:checked ~ .menu > :nth-child(6) {
  transition: transform .3s cubic-bezier(0.645, 0.045, 0.355, 1) .5s;
}
